<style>
/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }       
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
        list-style:none;
        padding: 10px;
        margin: 0;
        display:block;
        width:350px;
		
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        width: 300px;
		border-bottom: 1px solid #007BFF;
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        line-height:1.5;
        zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}
</style>

<div style="max-height: 380px;">
    <div class="row   mt-5 mb-0" >
        <div class="col-sm-8 offset-sm-2">
            <h2 class="text-{{widget.alignment}} pb-2 text-white">{{widget.title}}</h2>
            <p class="text-{{widget.alignment}} pb-2  text-white">{{widget.metadata}}</p>
        </div>
    </div>
</div>
<div class="card>
	<div class="row mb-5 mt-0">
        <div class="col-sm-12 offset-sm-0 mt-3">

			<form action="{{route(setting('marketplace_index'))}}" method="GET" class=" mb-5">
				<div class="row">
					<div class="col-md-3">
						<label class="text-white"><i class="fa fa-list" aria-hidden="true"></i> Categories</label>
						<select id="category" class="border border-left-0 form-control form-control-lg" name="category" aria-label="Right Align">
							<option value=""> {{ __('All Categories')}}</option> 
							{% for item in items.categories %}
							<option value="{{ item.id }}"> {{ item.name }}</option> 
							{% endfor %}
						</select>
                    </div>
					
					<div class="col-md-3">
                        <label class="text-white"><i class="fa fa-map" aria-hidden="true"></i> Destinations</label>
						<input id="location-search" type="text" name="location" style="border-right:2px solid #ccc;" class="typeahead border border-left-0 form-control form-control-lg" placeholder="{{ __("Bali, Kuta, etc...") }}" aria-label="Left Align">
                    </div>

					<div class="col-md-3">
                        <label class="text-white"><i class="fa fa-binoculars" aria-hidden="true"></i> Looking for </label>

						<input id="keyword" type="text" name="q" style="border-right:2px solid #ccc;" class="typeahead border border-left-0 form-control form-control-lg" placeholder="{{ __("fast track, ubud tour, etc...") }}" aria-label="Left Align">
						

						{{ form_hidden('lat', input_get('lat', session_get('lat')), {'class': 'lat'}) }}
						{{ form_hidden('lng', input_get('lng', session_get('lng')), {'class': 'lng'}) }}
						{{ form_hidden('bounds', input_get('bounds', session_get('bounds')), {'class': 'bounds'}) }}
						{{ form_hidden('distance', input_get('distance', session_get('distance')), {'class': 'distance'}) }}
						
                    </div>
					<div class="col-md-3">
						<div class="input-group-append" style="margin-top:30px;">
							<button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-search" aria-hidden="true"></i> {{ __("Search") }}</button>
						</div>
					</div>
				</div>
				 
			</form>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>


<script type="text/javascript">
$(document).ready(function(){
	$('#keyword').autocomplete({ 
	        source: function(request, response) {
				var category = $('#category').val();
				if(category.length == 0){
					category = 'all';
				}
	        	var pathautocomplete = "{{ url('autocomplete') }}";
	            $.ajax({
		            url: pathautocomplete,
		            data: {
		                    query : request.term.toLowerCase(),
							category : category
		             },
		            dataType: "json", 
		            success: function(data){
						
		               	var resp = $.map(data,function(obj){ 
		                    return obj.title;
		               	}); 
		  
		               response(resp);
		            }
		        });
		    },
		    minLength: 2
	 	});
});
</script>

<script>
	var autocomplete = new google.maps.places.Autocomplete($("#location-search")[0], {});

	google.maps.event.addListener(autocomplete, 'place_changed', function() {
		var place = autocomplete.getPlace();
		if (place.name == "") {
			$(".lat").val('');
			$(".lng").val('');
			$(".bounds").val('');
			$(".distance").val('-1');
		} else {
			$(".lat").val(place.geometry.location.lat());
			$(".lng").val(place.geometry.location.lng());


			console.log(place.geometry.viewport.getSouthWest().lat());
			$('.bounds').val(place.geometry.viewport.getSouthWest().lat() + "," + place.geometry.viewport.getSouthWest().lng() + ',' + place.geometry.viewport.getNorthEast().lat() + "," + place.geometry.viewport.getNorthEast().lng());
			$('.distance').val(1);
		}
		$("#top-search").submit();
	});
	$("#location-search").change( function() {
		$(".lat").val('');
		$(".lng").val('');
		$(".bounds").val('');
		$(".distance").val('-1');
	});
</script>