<style>
/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }       
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
        list-style:none;
        padding: 10px;
        margin: 0;
        display:block;
        width:227px;
		
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        width: 200px;
		border-bottom: 1px solid #007BFF;
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        line-height:1.5;
        zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}
</style>

<div style=" max-height: 380px;">
 
    <div class="row   mt-5 mb-0" >
        <div class="col-sm-8 offset-sm-2">
            <h2 class="text-{{widget.alignment}} pb-2 text-white">{{widget.title}}</h2>
            <p class="text-{{widget.alignment}} pb-2  text-white">{{widget.metadata}}</p>
        </div>
    </div>

	<div class="row mb-5 mt-0" >
        <div class="col-sm-8 offset-sm-2 mt-3">

		<form action="{{route(setting('marketplace_index'))}}" method="GET" class=" mb-5">

			<div class="input-group mb-5">
				<div class="input-group-prepend">
					<button class="btn btn-default bg-white border border-right-0 btn-lg" type="button" aria-label="Right Align"><i class="fa fa-list" aria-hidden="true"></i></button>
				</div>

				<select id="category" class="border border-left-0 form-control form-control-lg" name="category" style="border-radius:0;-webkit-appearance: none; -moz-appearance: none;" aria-label="Right Align">
					<option value=""> {{ __('All Categories')}}</option> 
					{% for item in items.categories %}
					<option value="{{ item.id }}"> {{ item.name }}</option> 
					{% endfor %}
				</select>

				<div class="input-group-prepend">
					<button class="btn btn-default bg-white border border-right-0 btn-lg" type="button" aria-label="Right Align"><i class="fa fa-search" aria-hidden="true"></i></button>
				</div>

				<input id="keyword" type="text" name="q" style="border-right:2px solid #ccc;" class="typeahead border border-left-0 form-control form-control-lg" placeholder="{{ __("Search...") }}" aria-label="Left Align">


				<div class="input-group-append">
					<button class="btn btn-primary btn-lg" type="submit">{{ __("Search") }}</button>
				</div>
			</div>

		</form>

		</div>
	</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>


<script type="text/javascript">
$(document).ready(function(){
	$('#keyword').autocomplete({ 
	        source: function(request, response) {
				var category = $('#category').val();
				if(category.length == 0){
					category = 'all';
				}
	        	var pathautocomplete = "{{ url('autocomplete') }}";
	            $.ajax({
		            url: pathautocomplete,
		            data: {
		                    query : request.term.toLowerCase(),
							category : category
		             },
		            dataType: "json", 
		            success: function(data){
						
		               	var resp = $.map(data,function(obj){ 
		                    return obj.title;
		               	}); 
		  
		               response(resp);
		            }
		        });
		    },
		    minLength: 2
	 	});
});
</script>